
<div class="panel panel-flat">

    <div class="table-responsive">
        <table class="listing table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Attribute Type</th>
                    <th>Date Added</th>
                    <th>Last Modified</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat = "attribute in attributes">
                    <td>{{ attribute.sno }}</td>
                    <td>{{ attribute.name }}</td>
                    <td>{{ attribute.type }}</td>
                    <td>{{ attribute.created }}</td>
                    <td>{{ attribute.modified }}</td>
                    <td>{{ attribute.status }}</td>
                    <td><ui class="icons-list"><li><a href="javascript:void(0);" ng-click="showEditWindow(attribute.id)" title="Edit attribute" ><i class="icon-pencil5"></i></a></li></ul></td>

                 </tr>
            </tbody>

        </table>
    </div>

</div><!-- /.content -->

